:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #06532c8c;
  background-color: #e1dcd9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #cdd7c0;
}
::-webkit-selection {
  background: #cdd7c0;
}
::selection {
  background: #cdd7c0;
}

a {
  color: #06532c8c;
  font-size: 1.2em;
  text-decoration: none;
}
a:hover {
  color: #0345248c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 5.2em;
  line-height: 0;
}

h2 {
  font-size: 3.2em;
  line-height: 0;
}

h3 {
  font-size: 1.2em;
  line-height: 0;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  white-space: 'pre-wrap';
  max-width: 500px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.2em;
    line-height: 0;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.2em;
    line-height: 0;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 1em;
    max-width: 300px;
    white-space: 'pre-wrap';
  }
}